@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* Shared Style */

.display-flex {
    display: flex;
}

.text-color {
    color: #E95A08;
}

.text-gray {
    color: #424242;
}

.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

}

/* navbar style */

.navbar {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    padding: 0;


}
.lo {
    /* height: 60px; */
    width: 135px;
    scale: 0.6;
}
.navbar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    padding: 0;
    /* height: 80px; */


}
.navbar a{
    text-decoration: none;
    list-style: none;
    color: gray;


}
 .home, .bxs-cart{
     color: black;    
 }

 /* Banner Part */

.banner-section{
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
    max-width: 1145px;
    margin: auto;
}

.banner-tittle {
    font-size: 3rem;


    margin-top: 5rem;
    max-width: 570px;
}

.banner-description {
    max-width: 570px;

}

.banner-img {
    margin-top: 5rem;
    /* height: 350px;
    width: 570px;
    justify-content: space-between; */
}

/* plant section */

.plant {
    text-align: center;
    margin-top: 5rem;
}

.plant-tittle {
    font-size: 2rem;
}

.plant-description {
    max-width: 888px;
    text-align: center;
    margin: auto;
}

.card-style {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    max-width: 1145px;
    margin: auto;

}

.card {
    margin-top: 2rem;

}

.card-tittle {
    text-align: center;

}

.price {
    text-align: center;
}

.card-btn {
    color: white;
    background-color: #E95A08;
    width: 100%;
    padding: 15px;
    border: none;
}
